.main-meme-generator {
    display: flex;
    grid-template-columns: auto auto;
    margin: 50px auto;
    max-width: 700px;
    justify-content: center;
    border: 5px solid black;
    background-color: bisque;
    background-image: url(/images/Background.png);
}

canvas {
    margin: 20px;
    background-color: white;
    border: 1px solid black;
}

.control-box {
    max-width: 300px;
    display: grid;
    gap: 5px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    background-color: beige;
    text-align: center;
}

.control-box button{
    border: none;
    background-color: orangered;
    color: black;
    font-size: 100%;
    font-family: impact;
}


.control-box button:last-child {
    background-color: cornflowerblue;
    border: none;
    font-family: impact;
    font-size: larger;
    color: white;
}

.control-box button:hover{
    cursor: pointer;
}

.control-box button span{
    display:none;
}

.control-box-buttons {
    display: flex;
    justify-content: space-between;
}

i {
    margin: auto;
    padding: 5px;
    border: 2px solid;
    background-color: white;
}

.control-box-buttons:hover {
    cursor: pointer;
}

.control-box label {
    font-family: impact;
    text-align: center;
    color: black
}