.main-meme-generator {
    display: flex;
    grid-template-columns: auto auto;
    margin: 50px auto;
    max-width: 700px;
    justify-content: center;
    border: 5px solid black;
    background-color: bisque;
    background-image: url(/images/Background.png);
}

canvas {
    margin: 20px;
    background-color: white;
    border: 1px solid black;
}

.control-box {
    max-width: 300px;
    display: grid;
    gap: 5px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    background-color: beige;
    text-align: center;
}

.control-box-buttons{
    display: flex;
    justify-content: space-between;
    }

.control-box label {
    font-family: impact;
    text-align: center;
    color: black
}