/* JUST MOBILE  */
@media (max-width: 565px) {
    .main-meme-generator {
        display: flex;
        grid-template-columns: none;
        margin: auto auto;

    }

    h3{
        font-size: 1em;
    }

    .meme {
        width: 140px;
        height: 140px;
        margin: 5px;
    }

    .btn-group {
        display: flex;
        margin: 5px;
    }

    .btn-group button {
        font-size: 7px;
    }
}