/* JUST MOBILE  */
@media (max-width: 565px) {
    .main-meme-generator {
        display: flex;
        grid-template-columns: none;
        margin: auto auto;

    }

    .meme {
        width: 150px;
        height: 150px;
        margin: 5px;
    }

    .btn-group {
        display: flex;
        margin: 20px;
    }
}